section {
    /* border: .1rem solid blue; */
    display: flex;
    flex: 1;
}

.container {
    /* border: .1rem solid purple; */
    display: flex;
    flex: 1;
    padding: .1rem;
    flex-wrap:wrap;
    gap: 5rem;
    justify-content: left;
}