@media (max-width: 576px) /*só será aplicado se o dispositivo tiver no maximo 576px de largura*/{
    .titulo {
        opacity: 0;
    }

    nav {
        display: none;
    }

    main {
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
}